sbody {
    background-color: #CFD7C7;
    font-family:Oswald;
    color: #0B2027;
}
header, main, footer {
    border: 0px;
    border-radius: 15px;
}
header, main, footer {
    margin: 20px;
    background-color: #ffff;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
a {
    color: #0B2027;
    text-decoration: none;
}
header img {
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
header h1 {
    text-align: left;
    font-size: 50px;
}
footer img {
    width: 35px;
    height: 35px;
}
main h1 {
    font-size: 45px;
}
main {
    font-size:16px;
}
footer {
    font-size: 15px;
}
main h1 {
    margin: 20px;
}
main p {
    margin: 20px;
    text-align: left;
}
header h1 {
    margin: 20px;
}
footer p {
    margin: 20px;
}
main img {
    height: 100px;
    width: 100px;
}
.comp:hover {
transform: scale(1.5);
}
.comp {
    transition: 0.25s;
}
.oip_voik:hover {
      animation: expandImage 0.6s forwards;
} 
@keyframes expandImage {
      0% {
        transform: scaleX(1) scaleY(1);
      }
      50% {
        transform: scaleX(2) scaleY(1);
      }
      75% {
        transform: scaleX(1) scaleY(2);
      }
      100% {
          transform: scaleX(2) scaleY(2);
      }
      }
.oip_voik{
transition: 0.6s;
border-radius: 15px;
}
.posul {
transition: 0.3s;   
}
.posul:hover {
color: blue;
transform: scale(1.5);
}
.posul-img {
transition: 0.4s; 
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}
.posul-img:hover {
transform: scale(1.5);
box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

